body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    padding: 80px;
    text-align: center;
}

#game {
    display: inline-block;
    border: 1px solid #999;
    box-shadow: 0 0 8px #CCC;
}
    #game > header {
        display: inline-block;
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid #999;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
        #game > header > div {
            display: inline-block;
        }
        #game > header > .bombs {
            width: 90px;
            float: left;
        }
        #game > header > .smile {
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 29px;
            transform: rotate(90deg);
            background: rgb(219, 219, 0);
            color: #333;
            border-radius: 50%;
            cursor: pointer;
        }
            .smile::selection {
                background: inherit; /* WebKit/Blink Browsers */
            }
            .smile::-moz-selection {
                background: inherit; /* Gecko Browsers */
            }
        #game > header > .clock {
            width: 90px;
            float: right;
        }
    #game > .board {
        display: inline-block;
        width: 100%;
    }
        #game > .board > .cell {
            display: inline-block;
            width: 16px;
            height: 16px;
            float: left;
            background-image: url(../img/sprite100.gif);
            background-position-x: 0px;
            background-position-y: -39px;
        }
        #game > .board > .cell::selection {
            background: inherit; /* WebKit/Blink Browsers */
        }
        #game > .board > .cell::-moz-selection {
            background: inherit; /* Gecko Browsers */
        }
        #game > .board > .cell.detonated {
            background-position-x: -32px;
            background-position-y: -39px;
        }
        #game > .board > .cell.c-0 {
            background-position-x: 0px;
            background-position-y: -23px;
        }
        #game > .board > .cell.c-1 {
            background-position-x: -16px;
            background-position-y: -23px;
        }
        #game > .board > .cell.c-2 {
            background-position-x: -32px;
            background-position-y: -23px;
        }
        #game > .board > .cell.c-3 {
            background-position-x: -48px;
            background-position-y: -23px;
        }
        #game > .board > .cell.c-4 {
            background-position-x: -64px;
            background-position-y: -23px;
        }
        #game > .board > .cell.c-5 {
            background-position-x: -80px;
            background-position-y: -23px;
        }
        #game > .board > .cell.c-6 {
            background-position-x: -96px;
            background-position-y: -23px;
        }
        #game > .board > .cell.c-7 {
            background-position-x: -112px;
            background-position-y: -23px;
        }
        #game > .board > .cell.c-8 {
            background-position-x: -128px;
            background-position-y: -23px;
        }